<!-- Here we can structure the document as a plain html document with the difference that we can embed data using the EJS template style -->

<html lang="en">
<head>
    <style>
        body{background: skyblue; font-family: verdanam; color: #fff; padding: 30px ;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        h2{font-size: 32px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p, li{font-size: 16px; text-align: center;}
        ul{list-style-position: inside;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <%- include ('partials/nav') %>
    <h1>Welcome to the profile page of <%= person %></h1> <!-- we use the passed object from the app.js file-->
    <p><strong>Age: </strong><%= data.age %></p> 
    <p><strong>Job: </strong><%= data.job %></p> <!-- another object which we have passed is the data object itself, containing 2 params: job and age -->

    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(function(item){ %> 
            <li><%= item %></li>
        <% }); %> <!-- we want to isolate the js code from the html code-->
    </ul>

    <p>A magnificent page, truly</p>
    <p>OK</p>

</body>
</html>